* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  width: 100%;
  height: 13vh; */
  color: #fff;
  width: 100%;
  height: 15vh;
}

.header nav {
  /* display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  position: absolute; */
  /* background-color: black; */
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  border: 2px solid black;
}

.header nav ul {
  /* margin-right: 1rem;
  display: flex; */
  list-style: none;
  padding: 0 45px;
}

.header nav ul li {
  display: inline-block;
  margin: 45px 9px;
}

.header nav ul li a {
  color: black;
  text-decoration: none;
}

.header nav img {
  width: 185px;
  height: 67px;
  border-radius: 144px;
  margin: 19px 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100wh;
  height: 400px;
}

.img1 {
  height: 100%;
  margin: 10px;
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
.img2 {
  height: 100%;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  margin-left: -150px;
  margin-right: -150px;
}
.img3 {
  height: 100%;
  margin: 10px;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.image {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header nav ul {
    margin-top: 1rem;
  }

  .hero {
    flex-direction: column;
  }

  .hand-section,
  .box-section,
  .portrait-section {
    margin: 1rem 0;
  }
}
